.input {
  @apply border border-gray-400 placeholder:text-sm w-full rounded-lg px-2 py-2 outline-none focus:ring-1 ring-offset-2 duration-200 focus:border-white;
}
.error {
  @apply text-xs text-red-700;
}
.button {
  @apply w-full px-4 py-2 mt-5 text-white font-extrabold bg-yellow-500 rounded-lg hover:bg-yellow-400 duration-200;
}

:root {
  --ft-color: #3f3f3f;
  --ft-hover-color: #464646;

  --hd-white: #9ca3af;
  --hd-black1: #6b7280;
  --hd-black2: #414659;

  --hd-bg-white: #f1f2f6;
  --hd-bg-black: #dfe4ea;
}
